/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.mvn/
/mvnw
/mvnw.cmd
/.gitignore
/examples/
/genomas/
/TruSeq3-PE.fa
/cadena_ejemplo.txt
/genoma.jpg
/Result.jpg
/src/main/resources/lib/
/src/main/java/grupobioticos/serverprototipo/MainPrueba.java
/server-prototipo-0.0.1-SNAPSHOT.jar
